<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google" value="notranslate">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    function changeImage(element){
      document.getElementById('imageReplace').src = element
    }
  </script>
<title>Fluffy Funtime Miln</title>
</head>

<body>

<div id="wrap">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="title-tokyo">I am Funtime Tokyo Miln</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <article>
            <p id="quotes"><%=@name%></p>
          </article>
        </div>
        <div class="col-md-3">
          <a class="btn btn-success" translate="no" href="/" role="button">タッチわさび</a>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <%= erb(:image_partial) %>
  </div>
  <div id="sidebar">
    <h2 id="japanese" translate="no">私は夢の中であなたを満たすために夢</h2>
        <ul class="list-group">
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/panda.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">La Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('https://coedmagazine.files.wordpress.com/2012/09/surf-gifs-3.gif?w=525')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Push Push Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/cockster.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Cockster Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/mrMiln.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Mr Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/steezy.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Steezy Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/pow.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Pow Wow Miln</a>
          </li>
          <li>
            <a class="list-group-item" href="#" onclick="changeImage('img/jump.jpg')">
              <img class="img_small" src="img/Foghorn.png" alt="la miln">Jump Start Miln</a>
          </li>
        </ul>
    </div>
</div>
</body>